/* homepage */
.body1 {
    background-color: rgb(201, 199, 199);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.body1 {
    padding-top: 50px;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.open {
    background: black;
    color: white
}
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.name {
    font-size: 25px;
    padding-left: 20px;
    
}

main {
    text-align: center;
}

footer{
    text-align: center;
}
.icons {
    height: 64px;
    mix-blend-mode: multiply;
    padding-left: 20px; 
}
/* change to class on homepage.html */
h2 {
    font-family: cursive;
}

/* aboutme page */

.pg2-h1 {
    text-align: center;
}
.body2 {
    background-color: rgb(201, 199, 199);
    padding-top: 50px;
    
}

.pic {
    height: 183px;
    width: 275px;
    margin-right: 12px;
    border-radius: 12px;
  
}
.flex-box{
    display: flex;
    border-bottom: 2px dashed black;
    padding-bottom: 12px;
}
